:root {
    --primary: #ba3955;
    --secondary: #eee;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        color: #000;
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

button {
    border: none;
    outline: none;
}

input {
    outline: none;
}

select,
option {
    cursor: pointer;
}

/* My Custom */
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-grey {
    background-color: #F5F5F7;
}

.outline-primary {
    border-color: var(--primary) !important;
}

.border-transparent {
    border-color: transparent !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-size-sm {
    font-size: 14px;
}

.text-size-mini {
    font-size: 12px;
}

.text-desc {
    color: #777;
}


.font-heading-decor {
    font-family: 'ADLaM Display', cursive;
}


.object-fit-cover {
    object-fit: cover !important;
}

.object-fit-contain {
    object-fit: contain !important;
}

.filter-grayscale-60 {
    filter: grayscale(0.6);
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-30 {
    border-radius: 30px;
}


.h-60-per {
    height: 60%;
}


.cursor-pointer {
    cursor: pointer;
}

/* .btn {
    display: flex !important;
    align-items: center !important;
} */

.btn-sm-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 50%;
}

.accent-color-primary {
    accent-color: var(--primary) !important;
}


.use-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.use-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.use-scrollbar::-webkit-scrollbar-track {
    background-color: #ddd;
}

.use-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Custom Boostrap Class */
.btn:focus {
    box-shadow: none !important;
}

.card {
    transition: all ease 0.25s;
}

#content .card:hover {
    border-color: var(--primary);
}

.card-body {
    margin-top: 2px;
}

#auth .form-control:focus {
    border-color: #666;
    outline: 0;
    box-shadow: unset;
}

